* {
    scroll-behavior: smooth;
    
  }
  
  body {
    font-family: "Poppins", "Roboto", monospace;
    background-color: transparent;
    list-style-type: none;
    color:white;
    text-decoration: none;
    font-size: x-large;
    background-color: black;
    background-blend-mode: darken;
    text-decoration: none;
    background-repeat: repeat;
    background-size: contain;
    border-radius: 2%;
  }
  
  .item1,.item2,.item3,.item4{
    height: auto;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
  }
  
  
  .hamburger{
    height: fit-content;
    width: fit-content;
    color:white;
    visibility: show;
    
  }
  
  
  
  
  .upper{
    background-image: url("../components/images/main.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .lower{
    background-image: url("../components/images/main2.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .socialicos{
    padding:2%;
    justify-content: space-evenly;
    display: flex;
    
  }
  
  
  .icox:hover{
    padding:2%;
    border:6px solid rgb(255, 0, 204);
    transition:ease-in-out 0.5s;
  }
  
  .icox1:hover{
    padding:2%;
    border:6px solid rgb(255, 0, 204);
    transition:ease-in-out 0.5s;
  }
  
  .icox2:hover{
    padding:2%;
    border:6px solid rgb(255, 0, 204);
    transition:ease-in-out 0.5s;
  }
  
  .icox3:hover{
    padding:2%;
    border:6px solid rgb(255, 0, 204);
    transition:ease-in-out 0.5s;
  }
  
  
  .icox4:hover{
    padding:2%;
    border:6px solid rgb(255, 0, 204);
    transition:ease-in-out 0.5s;
  }
  
  .icox5:hover{
    padding:2%;
    border:6px solid rgb(255, 0, 204);
    transition:ease-in-out 0.5s;
  }
  
  .navbar{
    padding:2%;
    font-size: x-large;
  }
  
  .gallery{
   
    padding:10%;
    background-image: url("../components/images/alucard-hellsing.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border:15px solid greenyellow;
    background-blend-mode: darken;
    background-color: #5f5858;
  }
  
  .mainpr{
  display: inline-flex;
  margin:1%;
  word-wrap: break-word;
  
  }
  
  .r2{
    margin:2%;
    display:inline-flex;
  }
  
  .ita1,.ita2,.ita3,.ita4{
    padding:5%;
    font-size: xx-large;
    
  }
  
  
  .ita1:hover{
    color:white;
    border:12px solid rgb(32, 175, 82);
    transition:ease-in-out 0.3s;
  }
  
  .ita2:hover{
    color:white;
    border:12px solid rgb(32, 175, 82);
    transition:ease-in-out 0.3s;
  }
  
  
  .ita3:hover{
    color:white;
    border:12px solid rgb(32, 175, 82);
    transition:ease-in-out 0.3s;
  }
  
  
  
  .navbar{
    justify-content: space-around;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .ita4:hover{
    color:white;
    border:12px solid rgb(32, 175, 82);
    transition:ease-in-out 0.3s;
  }
  
  button {
    
    background-color: transparent;
  }
  
  
  
  li {
    float: right;
    display: flex;
    text-decoration: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    margin-top: 3%;
    padding: 14px 24px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: green;
    transition: ease-in 0.5s;
  }
  
  .vpng {
    animation: fadeIn 3s;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
  }
  
  .mainhome{
    
    background-image: url("../components/images/main2.jpg");
    background-blend-mode: darken;
    text-decoration: none;
    background-repeat: repeat;
    background-size: contain;
  }
  
  
  
  
  .Homedet {
    
    border-radius: 5%;
    text-align: center;
    font-size: xx-large;
    justify-content: center;
    padding-bottom: 5%;
    
  }
  
  .pek{
    margin:5%;
    padding:2%;
    justify-content: space-between;
    
    border-radius: 5%;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  
  .button-48 {
    appearance: none;
    background-color: #ffffff;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
      background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
      color 100ms cubic-bezier(0.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button-48:before {
    animation: opacityFallbackOut 0.5s step-end forwards;
    backface-visibility: hidden;
    background-color: #787c74d0;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
      -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button-48:after {
    background-color: #ffffff;
  }
  
  .button-48 span {
    z-index: 1;
    position: relative;
  }
  
  input[type=email] {
    transition: width 0.5s ease-in-out;
    font-size: x-large;
  }
  
  input[type=email]:focus {
    width: 50%;
  }
  
  input[type=email], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #5f5858;
    color:greenyellow
  }
  
  
  
  
  input[type=textfield] {
    transition: width 0.5s ease-in-out;
    font-size: x-large;
    color:greenyellow;
  }
  
  input[type=textfield]:focus {
    width: 100%;
  }
  
  input[type=textfield], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .about-us{
    margin: 1%;
    padding:5%;
    border:12px solid pink;
    background-image: url("../components/images/cat.jpg");
    background-position: fixed;
    background-attachment: scroll;
    background-size: contain;
    background-color: #5f5858;
    background-blend-mode:darken;
    
  }
  
  
  
  .contactus{
    background-image: url("../components/images/dark2.jpg");
    background-position: fixed;
    border:12px solid coral;
    background-color:#5f5858;
    background-blend-mode: darken;
    background-size: cover;
    padding:7%;
  }
  
  
  
  
  .response{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #5f5858;
    resize: none;
    font-size: x-large;
  }
  
  ::placeholder{
    color:grey;
  }
  
  .hone:hover{
    color:rgb(224, 142, 20);
    transition: fadeIn 4000ms;
    
  }
  
  .hone{
    color: white;
  }
  
  @keyframes fadeIn {
    0%{
        opacity: 0;
    } 
    100%{
        opacity: 100;
    }
  }